@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 254, 4, 64;
  --background-start-rgb: 254, 4, 64;
  --background-end-rgb: 254, 4, 64;
}


body {
  color: rgb(254, 4, 64);
  background: rgb(0, 0, 0);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
