@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --nav-rgb: 255, 4, 32;
  --background-rgb: 0,0,0;
}

body {
  color: rgb(255, 4, 32);
  background: rgb(0, 0, 0);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.walletButton {
  min-width: none !important;
}
.walletButton:hover{
  background-color: black;
  color: white;
}

.nftTrait {
  border: 2 !important;
  border-color: white !important;

}